#lovometro {
    background: linear-gradient(
    to top right,
    rgba(245, 152, 152, 0.4),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 30px;
    backdrop-filter: blur(30px);
    min-width: 70%;
    min-height: 450px;
    display: flex;
}

/* ------------------------- LEFT SECTION ----------------------------- */
#lovometro > :first-child {
    max-width: 45%;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1)
    );
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#lovometro h1, #lovometro h2, #lovometro input[type="submit"] {
    font-family: "Lexend Mega";
    font-size: 1.125rem;
}

#lovometro input[type="text"] {
    font-family: "Lexend Deca";
}

#lovometro .title {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

#lovometro h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#lovometro h2 {
    line-height: 1.4rem;
}

#lovometro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lovometro form input {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 1.125rem;
}

#lovometro form input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}

#lovometro input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #FE4444;
    max-width: 200px;
    margin-top: 15px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}

/* ------------------------- RIGTH SECTION ----------------------------- */
#lovometro > :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 55%;
}

#lovometro img {
    width: 250px;
}

