#lovometro {
    background: linear-gradient(
    to top right,
    rgba(245, 152, 152, 0.4),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 30px;
    backdrop-filter: blur(10px);
    min-width: 70%;
    max-width: 750px;
    min-height: 500px;
    display: flex;
    z-index: 10;
}

/* ------------------------- LEFT SECTION ----------------------------- */
#lovometro > :first-child {
    max-width: 45%;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1)
    );
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#lovometro h1, #lovometro h2, #lovometro input[type="submit"] {
    font-family: "Lexend Mega";
    font-size: 1.125rem;
}

#lovometro input[type="text"] {
    font-family: "Lexend Deca";
}

#lovometro .title {
    margin: 0 auto;
    text-align: center;
}

#lovometro h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#lovometro h2 {
    line-height: 1.4rem;
}

#lovometro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lovometro form input {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    box-sizing: border-box;
}

#lovometro form input::placeholder {
    color: rgba(0, 0, 0, 0.2)
}

#lovometro input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #FE4444;
    max-width: 200px;
    margin-top: 15px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}

#lovometro input[type="submit"]:hover {
    background-color: #e73737;
    cursor: pointer;
}

#lovometro input[type="submit"]:active {
    background-color: #c43030;
}
/* ------------------------- RIGTH SECTION ----------------------------- */
#lovometro > :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 55%;
}

#lovometro > :last-child img {
    width: 300px;
    position: absolute;
    animation: heart-beat 2s infinite ease-in-out;
}

#lovometro > :last-child h3 {
    z-index: 21;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 30px;
}

@keyframes heart-beat {
    0% {
        width: 290px
    }

    50% {
        width: 310px;
    }

    100% {
        width: 290px;
    }
}

@keyframes small-heart-beat {
    0% {
        width: 210px
    }

    50% {
        width: 240px;
    }

    100% {
        width: 210px;
    }
}

@media only screen and (max-width: 1200px) {
    #lovometro {
        display: block;
        max-width:500px;
        min-width: 0;
        margin: 40px 60px;
    }

    #lovometro > :first-child {
        max-width: 100%;
        box-sizing: border-box;
        min-height: 400px;
    }

    #lovometro > :last-child {
        max-width: 100%;
        box-sizing: border-box;
        min-height: 400px;
    }
}

@media only screen and (max-width: 540px) {
    #lovometro {
        margin: 40px;
    }

    #lovometro h1 {
        font-size: 2.5rem;
    }

    #lovometro h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 440px) {
    #lovometro {
        margin: 40px 20px;
    }

    #lovometro > :first-child {
        padding: 10px;
    }

    #lovometro h1 {
        font-size: 2rem;
    }

    #lovometro > :last-child img {
        width: 300px;
        position: absolute;
        animation: small-heart-beat 2s infinite ease-in-out;
    }    
}